{% extends 'base.html.twig' %}

{% block title %}Adverts{% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Adverts</h1>

    <a href="{{ path('download') }}?sort={{ sortField }}">Download</a>

    <br/><br/>

    <table>
        <tr>
            <td><a href="{{ path('index') }}?sort=id">Id</a></td>
            <td><a href="{{ path('index') }}?sort=title">Title</a></td>
            <td><a href="{{ path('index') }}?sort=city">City</a></td>
            <td>Main Image</td>
        </tr>
        {% for advert in adverts %}
            <tr>
                <td>{{ advert.getId() }}</td>
                <td><a href="{{ advert.getLink() }}">{{ advert.getTitle() }}</a></td>
                <td>{{ advert.getCity() }}</td>
                <td><img src="{{ advert.getMainImage() }}" width="50%" /></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
